body,
html {
    font-family: "Myriad Pro", Arial, sans-serif;
}
.text-center{
    text-align: center;
    display: block;
}
.btn, button{
    border: none;
    outline: none;
}
.green-text {
    color: #00cc00;
}

.red-bg {
    background-color: red;
}

.green-bg {
    background-color: #00cc00;
}

.black-bg {
    background-color: #333333;
}

.purple-bg {
    background-color: #8f00ca;
}

.fluid-center {
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    left: 50%;
}

.clearfix {
    clear: both;
}

input {
    outline: none;
}

.navbar {
    background: black;
    height: 80px;
    line-height: 80px;
    border-radius: 0;
    margin-bottom: 0;
    border: none;
}

.navbar form {
    margin: 0;
}

.navbar-form input.form-control {
    margin: 0;
    border: none;
    padding: 20px 15px;
    width: 200px;
}

.navbar button.sign-up-btn {
    margin-left: 30px;
    =: 15px23px;
    font-size: 19px;
}

.navbar-form .btn {
    border: none;
    padding: 10px 19px;
    margin: 0;
}

.navbar img {
    margin-top: 12px;
    margin-left: 20px;
}

.green-gradient {
    color: white;
    background: #4bff4b;
    background: -moz-linear-gradient(top, #4bff4b 0%, #25e525 50%, #00cc00 100%);
    background: -webkit-linear-gradient(top, #4bff4b 0%, #25e525 50%, #00cc00 100%);
    background: linear-gradient(to bottom, #4bff4b 0%, #25e525 50%, #00cc00 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4bff4b', endColorstr='#00cc00', GradientType=0);
}

.gray-gradient {
    background: #cccccc;
    background: -moz-linear-gradient(top, #cccccc 0%, #b4b4b4 100%);
    background: -webkit-linear-gradient(top, #cccccc 0%, #b4b4b4 100%);
    background: linear-gradient(to bottom, #cccccc 0%, #b4b4b4 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#b4b4b4', GradientType=0);
}

#main-menu {
    height: 80px;
    padding: 0;
    margin: 0;
    display: block;
    box-shadow: 0 1px 5px black;
    margin-top: 1px;
}

#main-menu li a {
    height: 100%;
    background: #cacaca;
    width: 16.666666667%;
    float: left;
    line-height: 80px;
    background: #cccccc;
    background: -moz-linear-gradient(top, #cccccc 0%, #b4b4b4 100%);
    background: -webkit-linear-gradient(top, #cccccc 0%, #b4b4b4 100%);
    background: linear-gradient(to bottom, #cccccc 0%, #b4b4b4 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#b4b4b4', GradientType=0);
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: caviar_dreamsbold;
    text-decoration: none;
}

#main-menu li {
    list-style: none;
}

#main-menu li.active a {
    background: #4bff4b;
    background: -moz-linear-gradient(top, #4bff4b 0%, #25e525 50%, #00cc00 100%);
    background: -webkit-linear-gradient(top, #4bff4b 0%, #25e525 50%, #00cc00 100%);
    background: linear-gradient(to bottom, #4bff4b 0%, #25e525 50%, #00cc00 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4bff4b', endColorstr='#00cc00', GradientType=0);
}

#main-menu li a:hover,
#main-menu li a.active {
    background: #999999;
}

#Home .second-logo {
    display: block;
    margin: 20px auto;
    margin-top: 40px;
}

#Home h1.title {
    text-align: center;
    font-family: 'caviar_dreamsbold_italic';
    font-size: 23px;
}

.home-search-wrap {
    height: 80px;
    position: relative;
    margin-bottom: 35px;
}

.home-search-wrap span {
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin-bottom: 6px;
    font-family: arial, sans-serif;
}

.home-search-wrap .zipcode {
    height: 100%;
    width: 182px;
    background: #00cc00;
    float: left;
    color: white;
    padding: 15px;
    padding-top: 10px;
    z-index: 2;
    position: relative;
    border-radius: 7px 0 0 7px;
}

.home-search-wrap .zipcode input {
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: black;
    text-align: center;
}

.home-search-wrap .search {
    background: #cccccc;
    border: none;
    height: 100%;
    padding: 15px;
    font-size: 20px;
    position: absolute;
    left: 15px;
    right: 0;
    top: 0;
    bottom: 0;
    width: 95%;
    z-index: 1;
    padding-left: 192px;
}

.home-search-wrap .search-submit {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: 18px;
    background-image: url(../img/search-icon.png);
    background-repeat: no-repeat;
    background-position: center 10px;
    padding-top: 41px;
}

.home-search-wrap .search-submit-wrap {
    float: right;
    z-index: 1;
    position: absolute;
    right: 0;
    height: 100%;
    width: 140px;
    border-radius: 0 7px 7px 0;
}

#Home .step {
    text-align: center;
    line-height: 40px;
}

#pricing {
    height: 527px;
    background: url(../img/price-bg.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    margin-bottom: 50px;
}

#pricing .btn {
    text-transform: uppercase;
    font-size: 20px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    line-height: 50px;
    padding: 0;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: white;
}

#pricing ul {
    padding: 0;
}

#pricing li {
    list-style: none;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    width: 83%;
    margin: 0 auto;
    color: #868686;
}

#pricing .title {
    width: 182px;
    height: 55px;
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: white;
    text-transform: uppercase;
    font-family: arial, sans-serif;
    line-height: 55px;
    margin-top: -12px;
    font-size: 17px;
    margin-bottom: 20px;
    text-align: center;
}

#price-free .title {
    background-image: url(../img/price-free.png);
}

#price-free .price {
    font-size: 55px;
    text-transform: uppercase;
    font-weight: bold;
    color: #00cc00;
    text-align: center;
    display: block;
    font-family: "Myriad Pro", arial, sans-serif;
}

#price-free .btn {
    background-image: url(../img/price-free-btn.png);
    margin-top: 32px;
}

#price-monthly .title {
    background-image: url(../img/price-monthly.png);
}

#price-monthly .btn {
    background-image: url(../img/price-monthly-btn.png);
    margin-top: 45px;
}

#price-monthly-pro .title {
    background-image: url(../img/price-monthly-pro.png);
    margin-bottom: 10px;
}

#price-monthly-pro .btn {
    background-image: url(../img/price-monthly-pro-btn.png);
    margin-top: 10px;
}

#pricing .wrapper {
    width: 772px;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    left: 50%;
}

#pricing .box {
    float: left;
    background: #e9e9e9;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 0 10px black;
    padding-bottom: 20px;
    position: relative;
}

#pricing #price-monthly {
    z-index: 3;
    margin-top: -20px;
    width: 272px;
}

#price-monthly .number,
#price-monthly-pro .number {
    font-size: 72px;
    font-weight: bold;
}

#price-monthly .price,
#price-monthly-pro .price {
    text-align: center;
    color: #4319ff;
    font-family: "Myriad Pro", arial, sans-serif;
    font-size: 27px;
    margin: 0 auto;
    width: 134px;
}

#price-monthly-pro .price {
    color: #cc6514;
    width: 165px;
    height: 70px;
}

#price-monthly .price .currency,
#price-monthly-pro .price .currency {
    float: left;
    margin-top: 10px;
}

#price-monthly .price .small,
#price-monthly-pro .price .small {
    float: right;
    margin-top: 14px;
}

footer {
    height: 90px;
    background: #b25309;
    line-height: 90px;
    width: 100%;
    color: white;
    margin: 0;
    margin-top: 30px;
}

#footer-menu {
    margin: 0;
    padding: 0;
}

#footer-menu a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#footer-menu li {
    float: left;
    list-style: none;
    margin-right: 20px;
}

.section-posts {
    background-color: #eaecec;
    border-radius: 5px;
    margin: 20px auto;
}

.section-posts h2.title {
    text-align: left;
    padding: 15px;
    text-transform: uppercase;
    font-family: "Myriad Pro", arial, sans-serif;
    font-weight: bold;
    display: inline-block;
    margin: 0;
}

.section-posts .sort {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
}

.section-posts .sort a {
    margin: 0 10px;
}

.post {}

.post table {
    width: 100%;
    margin-bottom: 15px;
}

.post .content {
    padding: 10px;
}

.post .content .thumb {
    width: 55px;
    height: 55px;
    background-color: #333;
    float: left;
    margin-right: 10px;
}

.post table thead {
    color: white;
}

.post table th {
    text-align: center;
}

.post table td {
    text-align: center;
}

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#legal-page {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);
    z-index: 100;
}

#legal-page .btn {
    width: 137px;
    height: 58px;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 58px;
    padding: 0;
    text-transform: uppercase;
}

#legal-page .btn.yes {
    background-image: url(../img/yes-bg.png);
}

#legal-page .btn.no {
    background-image: url(../img/no-bg.png);
    margin-right: 30px;
}

#legal-page .content {
    background-color: #2c2c2c;
    border-radius: 30px;
    color: #cccccc;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

#legal-page .title {
    padding-top: 0;
    color: red;
}

#legal-page .btn-group {
    margin-top: 20px;
}

#Contact .title {
    text-align: center;
    font-family: "Myriad Pro", arial, sans-serif;
    font-size: 45px;
    margin-top: 60px;
    margin-bottom: 80px;
}

#Contact .btn[type=submit] {
    color: white;
    float: right;
    margin-top: 20px;
    margin-right: 88px;
}

#Contact .form-group {
    display: block;
    margin: 10px auto;
}

#Contact .form-control {
    width: 300px;
    background-color: #EDEDED;
}

#Contact .form-group label {
    width: 70px;
}

#Contact .contact-box {
    background-color: #ededed;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

#Contact .contact-box h3 {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
    border-bottom: 1px dashed;
    padding-bottom: 10px;
    font-family: "Myriad Pro", arial, sans-serif;
}


/*Sign up*/

#Signup {}

#Signup .block {
    background-color: #dddddd;
    border-radius: 5px;
    padding: 15px 35px;
    margin-top: 30px;
}

#Signup .block .title {
    font-weight: bold;
    margin-bottom: 30px;
}

#Signup .form-control {
    border: none;
    border-radius: 7px;
}

#Signup .btn {
    margin: 0 auto;
    width: 250px;
    display: block;
    border: none;
}

#Signup .checkbox-group {
    background: white;
    border-radius: 5px;
    padding: 10px;
}

#Signup .block.seeker .checkbox-group label {
    width: 25%;
    float: left;
    text-align: center;
}
#Signup .block.business .checkbox-group label {
    width: 33.333333333%;
    float: left;
    text-align: center;
}
/* Base for label styling */
.circle-checkboxes{
    position: relative;
}
.circle-checkboxes [type="checkbox"]:not(:checked),
.circle-checkboxes [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

.circle-checkboxes [type="checkbox"]:not(:checked) + label,
.circle-checkboxes [type="checkbox"]:checked + label {
    position: relative;
    cursor: pointer;
    padding-top: 50px;
    text-align: center;
}
/* checkbox aspect */
.circle-checkboxes [type="checkbox"]:not(:checked) + label:before,
.circle-checkboxes [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 46px;
    height: 46px;
    background: url(../img/checkbox.png) no-repeat center;
    border-radius: 3px;
    margin-left: -23px;
}
/* checked mark aspect */
.circle-checkboxes [type="checkbox"]:not(:checked) + label:after,
.circle-checkboxes [type="checkbox"]:checked + label:after {
    content: "";
    top: 0;
    left: 50%;
    position: absolute;
    transition: all .2s;
    background: url(../img/checkbox-checked.png);
    width: 46px;
    height: 46px;
    margin-left: -23px;
}
/* checked mark aspect changes */
.circle-checkboxes [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

.circle-checkboxes [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
.circle-checkboxes [type="checkbox"]:disabled:not(:checked) + label:before,
.circle-checkboxes [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
.circle-checkboxes [type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
.circle-checkboxes [type="checkbox"]:disabled + label {
    color: #aaa;
}
/* accessibility */
.circle-checkboxes [type="checkbox"]:checked:focus + label:before,
.circle-checkboxes [type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted blue;
}
/* hover style just for information */
label:hover:before {
    background: url(../img/checkbox-checked.png) no-repeat center;
}

.page hr{
    height: 12px;
    border: none;
    background: url(../img/line-bg.png) repeat-x center;
    margin-top: 5px;
    margin-bottom: 50px;
}

.page header {
    margin-top: 20px;
}

.page header .title {
    display: inline-block;
    margin-bottom: 0;
}

#FindGrowers header .btn {
    float: right;
    margin-top: 9px;
    background: #00cc00;
    width: 250px;
    font-size: 18px;
}
#FindGrowers [type=submit]{
    float: right;
    background: #00cc00;
    font-family: arial, sans-serif;
    font-size: 18px;
}

#Account .nav.nav-tabs{
    margin-top: 50px;
}
#Account .nav.nav-tabs li{
    width: 33.3333333333%;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    background-color: #555;
}

#Account .nav.nav-tabs li.active a {
    border-radius: 0;
}

#Account .nav.nav-tabs li.active {}

#Account .nav.nav-tabs li.active a {
    color: black;
    background-color: #dedede;
}

#Account .nav.nav-tabs li a {
    color: white;
    border-radius: 0;
    margin: 0;
    border-right: 1px solid white;
}

#Account .nav.nav-tabs li a:hover {
    color: black;
}
#Account .tab-content{
    background-color: #dedede;
    padding: 15px 30px;
}
#Account .tab-content table{
    border: 1px solid #555;
}

#Account .tab-content table tbody {
    background-color: #e6e6e6;
}

#Account .tab-content table thead {
    background-color: #555;
    color: white;
    text-transform: uppercase;
}
#Account .tab-content [type=checkbox]{
    margin-right: 10px;
}

#tab-chat-history{}
#tab-chat-history .box{
    background-color: white;
    border: 1px solid #555;
    position: relative;
}

#tab-chat-history ul {
    padding: 15px;
}

#tab-chat-history .nicescroll {
    height: 400px;
}

#tab-chat-history .chats li {
    list-style: none;
    margin-bottom: 15px;
    margin-left: 30px;
}

#tab-chat-history .chats .me .message {
    background-color: #9fcf9f;
}

#tab-chat-history .chats .time {
    font-size: 11px;
    position: absolute;
    right: 10px;
    top: 5px;
}

#tab-chat-history .chats .message {
    background-color: #b9cfb9;
    padding: 7px 10px;
    border-radius: 7px;
    position: relative;
    padding-top: 18px;
}

#tab-chat-history .chats .name {}

#tab-chat-history .chats ul li.me {
    margin-left: 0;
}
#Account .tab-content .title{
    background-color: #555;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    font-size: 18px;
    margin: 0;
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

#tab-chat-history .users ul {
    padding: 12px;
}

#tab-chat-history .users .date {
    width: 93px;
    display: inline-block;
}

#tab-chat-history .users ul li {
    list-style: none;
    line-height: 26px;
}

#tab-chat-history .users ul li.active {
    color: #00cc00;
}

#tab-contact .box{
    background-color: #e6e6e6;
    border: 1px solid #555;
    position: relative;
}

#tab-contact button[type=submit] {
    position: absolute;
    right: 5px;
    top: 4px;
    font-size: 18px;
    width: 100px;
}

#tab-contact .circle-checkboxes label {margin-right: 17px;}

#tab-contact .circle-checkboxes {width: 295px;margin: 0 auto;left: 50%;margin-left: -148px;}

#tab-contact .box .row {
    padding: 15px;
    margin: 0;
}